{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <h3 class="home-content">欢迎访问我的主页</h3>
    <!-- 图表-->
    <div id="container"></div>
    <!-- 今天24小时内的热门点击 -->
    <div class="hot-data">
        <!-- 今天24小时内的热门点击 -->
        <h3>今天热门博客</h3>
        <ul>
            {% for hot_data in today_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a></li>
            {% empty %}
                <li>今天暂无热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <!-- 昨天的热门点击 -->
        <h3>昨日热门博客</h3>
        <ul>
            {% for hot_data in get_yestertoday_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a></li>
            {% empty %}
                <li>昨天暂无热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <!-- 七天内的热门点击 -->
        <h3>七天内的热门点击</h3>
        <ul>
            {% for hot_blog in hot_blogs_for_7_days %}
                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a> </li>
            {% empty %}
                <li>七天内暂无热门博客</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        var options = {
            chart:{type:'line'},
            title:{text:null},
            xAxis:{
                categories:{{ dates|safe }},
                tickmarkPlacement:'on',
                title:{text:'前7日阅读量'},
            },
            yAxis:{
                title:{text:null},
                labels:{enabled:false},
                gridLineDashStyle:'Dash'
            },
            series:[{
                name:'阅读量',
                data:{{ read_nums }}
            }],
            plotOptions:{
              line:{
                  dataLabels:{
                      enabled:true,
                  }
              }
            },
            legend:{ enabled:false },
            credits:{ enabled:false },

        }
        var chart = Highcharts.chart('container',options);
    </script>

{% endblock %}
